[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
dvc = "*"

[dev-packages]
black = "*"
flake8-strict = "*"
pytest = "*"
mypy = "*"
ipdb = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
