certifi==2020.6.20
chardet==3.0.4
click==7.1.2
configparser==5.0.0
cycler==0.10.0
docker-pycreds==0.4.0
gitdb==4.0.5
gitpython==3.1.7
gql==0.2.0
graphql-core==1.1
idna==2.10
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.3.1
numpy==1.19.1
nvidia-ml-py3==7.352.0
pandas==1.1.1
pathtools==0.1.2
pillow==7.2.0
pip==20.2.2
promise==2.3
psutil==5.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
sentry-sdk==0.17.2
setuptools==47.1.0
shortuuid==1.0.1
six==1.15.0
sklearn==0.0
smmap==3.0.4
subprocess32==3.5.4
threadpoolctl==2.1.0
urllib3==1.25.10
wandb==0.9.6
watchdog==0.10.3