name: model-wine-quality
on: [push]
jobs: 
  run: 
    runs-on: [ubuntu-latest]
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run:  |
          pip install -r requirements.txt
          python train.py

          echo "## Model Metrics" > report.md
          cat metrics.txt >> report.md

          cml-publish feature_importance.png --md >> report.md
          cml-publish residuals.png --md >> report.md

          cml-send-comment report.md
