name: train-my-model

on: [push]

jobs:
  run:
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2

      - uses: iterative/setup-cml@v1

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: cml
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install -r requirements.txt
          python train.py
          
          cat metrics.txt >> report.md
          #cml-publish confusion_matrix.png --md --title 'confusion-matrix' >> report.md
          echo "![](./residuals.png)" >> report.md
          echo "![](./feature_importance.png)" >> report.md
          cml-send-comment report.md 